nav {
  height: 0;
  .nav-wrapper {
    transform: translateY(7rem);
    padding: 0 21rem;
  }
  .nav-wrapper.content-header {
    transform: translateY(3rem);
  }
  li a,
  a {
    @extend %h1;
    display: block;
    margin-top: 0;
  }
}