.slideToHeader {
  -moz-animation-name: slideToHeader;
  -webkit-animation-name: slideToHeader;
  animation-name: slideToHeader;

  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  -moz-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

  -moz-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;

  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideToHeader {
  0% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 15rem;
    opacity: 1;
  }
}
@-moz-keyframes slideToHeader {
  0% {
    height: 100%;
    visibility: hidden;
  }
  100% {
    height: 15rem;
    visibility: visible;
  }
}
@-webkit-keyframes slideToHeader {
  0% {
    height: 100%;
    visibility: hidden;
  }
  100% {
    height: 15rem;
    visibility: visible;
  }
}