.slideInUpContent {
  -moz-animation-name: slideInUpContent;
  -webkit-animation-name: slideInUpContent;
  animation-name: slideInUpContent;

  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  -moz-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);

  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@keyframes slideInUpContent {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUpContent {
  0% {
    -moz-transform: translate3d(0, 100%, 0);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes slideInUpContent {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}